<form #form="ngForm">
  <div>
    <label>Name: </label>
    <input [ngModel]="name" name="name" type="text" />
  </div>
  <div>
    <label>Surname: </label>
    <input ngModel name="surname" type="text" />
  </div>
  <div #account="ngModelGroup" ngModelGroup="account" passwordMatcher>
    <div>
      <label>Email: </label>
      <input ngModel name="email" type="text" required />
    </div>
    <div>
      <label>Password: </label>
      <input ngModel name="password" type="text" required />
    </div>
    <div>
      <label>Confirm password: </label>
      <input ngModel name="confirmPassword" type="text" required />
    </div>
  </div>
</form>

<p>Value: {{ form.value | json }}</p>
<p>Status: {{ form.status }}</p>
<p>Account status: {{ account.status }}</p>
<p>Account not match password errors: {{ account.getError('passNotMatch') | json }}</p>
